@import 'global.scss';

.page-container {
  padding: 3.2rem 2.4rem;
  width: 100%;
  max-width: 1280px;
}

.page-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 1rem;
}

.page-description {
  font-size: 1.6rem;
  color: var(--text-subtitle);
  margin-bottom: 1.6rem;
}

.latest-metrics-section {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.card {
  border-radius: 0.8rem;
  padding: 1.6rem;
  border: 1px solid var(--divider);

  &-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 1.6rem;
  }
}

.latest-metrics-card {
  width: 50%;
}

.latest-metrics {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;

    &-title {
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--text);
    }

    &-date {
      font-size: 1.4rem;
      color: var(--text-subtitle);
    }
  }

  &-description {
    display: flex;
    flex-direction: column;

    &-value-container {
      display: flex;
      align-items: center;
    }

    &-value {
      display: inline-block;
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--text);
      margin-right: 0.4rem;
    }

    &-unit {
      display: inline-block;
      font-size: 1.6rem;
      color: var(--text-subtitle);
      margin-right: 1.2rem;
    }

    &-status {
      display: inline-block;
      font-size: 1.4rem;
      color: var(--text-subtitle);

      &-low {
        color: $orange-400;
      }

      &-normal {
        color: $green-400;
      }

      &-borderline {
        color: $orange-600;
      }

      &-high_stage_1 {
        color: $orange-700;
      }

      &-high_stage_2 {
        color: $red-500;
      }

      &-high_risk {
        color: $red-500;
      }

      &-recheck {
        color: $blue-400;
      }
    }
  }
}

.sections-container {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}
.quick-actions-section {
  width: 50%;
}

.action-and-insights-card {
  height: 100%;
}

.quick-action-button {
  width: 100%;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: $gray-75;
  color: $gray-800;
  justify-content: space-between;
  border-radius: 0.8rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  font-size: 1.6rem;

  &:hover {
    background-color: $gray-200;
  }

  &:focus {
    ring-color: $gray-500;
  }

  &-name-container {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

.quick-action-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.health-insights-section {
  width: 50%;
}

.health-insights-description,
.blood-sugar-trend-description {
  font-size: 1.4rem;
  color: var(--text-subtitle);
  margin-bottom: 1.6rem;
  line-height: 1.5;
}

.health-insights-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1.6rem;
  text-align: center;
  border: 1px solid var(--divider);
  border-radius: 0.8rem;
  color: var(--text);
  font-size: 1.4rem;
  margin-right: 0.8rem;
  background: none;
}

svg[data-lucide='move-right'] {
  width: 1.6rem;
  height: 1.6rem;
}
